{% extends '@SmartAuthentication/email/layout.html.twig' %}

{% trans_default_domain 'email' %}

{% import '@SmartAuthentication/macros/email.html.twig' as macro %}

{% block content %}
    <p>
        {{ 'forgot_password.welcome'|trans|raw }}
    </p>
    <p>
        {{ 'forgot_password.action.click'|trans }}
        <br />
        {% set url = 'https://' ~ domain ~ path(security_reset_password_route, { token: token }) %}
        {% block link %}
            {{ macro.renderLink(url, 'forgot_password.reset_password.link'|trans) }}
        {% endblock %}
    </p>
    <p>
        {{ 'forgot_password.action.copy_paste'|trans }}
        <br />
        {{ macro.renderLink(url, url) }}
    </p>
    <p>
        {{ 'security.token.information'|trans }}
    </p>
{% endblock %}
