{% extends '@SmartSonata/email/layout.html.twig' %}
{% trans_default_domain 'email' %}
{% import '@SmartSonata/macros/email.html.twig' as macro %}

{# Generate variable default value if not define for documentation #}
{% if domain is not defined %}{% set domain = 'localhost' %}{% endif %}
{% if context is not defined %}{% set context = 'admin' %}{% endif %}
{% if security_reset_password_route is not defined %}{% set security_reset_password_route = 'admin_security_reset_password' %}{% endif %}
{% if token is not defined %}{% set token = '%token%' %}{% endif %}

{% block documentation_help %}
    <p class="text-muted">
        {{ 'reset_password.link.documentation_help'|trans({
            '%action%': 'forgot_password.reset_password.link'|trans
        })|raw }}
    </p>
{% endblock %}

{% block content %}
    <p>
        {{ 'forgot_password.welcome'|trans|raw }}
    </p>
    <p>
        {{ 'forgot_password.action.click'|trans }}
        <br />
        {% set url = 'https://' ~ context ~ '.' ~ domain ~ path(security_reset_password_route, { token: token }) %}
        {% block link %}
            {{ macro.renderLink(url, 'forgot_password.reset_password.link'|trans) }}
        {% endblock %}
    </p>
    <p>
        {{ 'security.token.information'|trans }}
    </p>
{% endblock %}
