{% extends '@SmartSonata/empty_layout.html.twig' %}

{% trans_default_domain 'security' %}

{% from '@SmartSonata/macros/alert.html.twig' import flashes %}

{% block sonata_page_content %}
    <div class="login-box">
        {{ flashes('danger', form.email.vars.errors, 'security') }}
        {{ flashes('danger', app.session.flashbag.get('error'), 'security') }}
        {{ flashes('success', app.session.flashbag.get('success'), 'security') }}

        <div class="login-box-body">
            {% block smartsonata_box_header %}<h1 class="text-center">SMART SONATA</h1>{% endblock %}
            <p class="login-box-msg">{{ 'forgot_password.title'|trans }}</p>
            <form action="{{ security_forgot_password_url }}" method="post">
                <div class="form-group has-feedback">
                    {{ form_widget(form.email, { attr: {
                        class: 'form-control',
                        placeholder: 'forgot_password.label_username',
                        autocomplete: 'off',
                    } }) }}
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <a href="{{ security_login_form_url }}" class="btn btn-default btn-block btn-flat">{{ 'forgot_password.label_cancel'|trans }}</a>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4">
                        {{ form_widget(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'forgot_password.label_submit'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
