{% extends '@SmartSonata/empty_layout.html.twig' %}

{% trans_default_domain 'security' %}

{% from '@SmartSonata/macros/alert.html.twig' import flashes %}

{% block sonata_page_content %}

    <div class="login-box">
        {{ flashes('success', app.session.flashbag.get('success'), 'security') }}
        {% for child in form.password %}
            {{ flashes('danger', child.vars.errors, 'security') }}
        {% endfor %}

        <div class="login-box-body">
            {% block smartsonata_box_header %}<h1 class="text-center">SMART SONATA</h1>{% endblock %}
            {% block smartsonata_box_form_help %}
                <p class="login-box-msg"><b>{{ 'reset_password.title'|trans }}</b></p>
                <div class="text-muted">{{ 'reset_password.help'|trans|raw }}</div>
            {% endblock %}
            <form action="{{ path(security_reset_password_route, { token: token }) }}" method="post">
                <div class="form-group has-feedback">
                    {{ form_widget(form.password.first, { attr: {
                        class: 'form-control',
                        placeholder: 'reset_password.label_password'|trans,
                        autocomplete: 'off',
                    } }) }}
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.password.second, { attr: {
                        class: 'form-control',
                        placeholder: 'reset_password.label_password_confirmation'|trans,
                        autocomplete: 'off',
                    } }) }}
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_widget(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'reset_password.label_submit'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
